<%= render partial: 'shared/header', locals: {
  title: 'Edit Member',
  icon: 'fa-user' } %>

<div class="container-fluid mt-n20">
  <div class="row">
    <div class="col-12">
      <%= render 'form', admin_member: @admin_member, url: admin_member_path(@admin_member) %>
    </div>
  </div>
</div>
